
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body element of HTML */
body {
    background-color: #d9dcd6;
}

/* For header class */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#2a607c;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* h1 element in header class*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* .seo class in h1 element of header class*/
.header h1 .seo {
    color: #d9dcd6;
}

/* for div elements of header class */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* for unlisted items */
.header div ul {
    list-style-type: none;
}

/* for List items */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* for anchor element */
a {
    color: #ffffff;
    text-decoration: none;
}

/* for paragraph element */
p {
    font-size: 16px;
}

/* for hero class in html */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* for elements floating left in float-left class */
.float-left {
    
    float: left;
    margin-right: 25px;
}

/* for elements floating right and for unlisted elements */
.float-right, .ul {
    float: right;
    margin-left: 25px;
}

/* contents to wrap when the screen size is changed */
.content {
    display: inline-block;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* setting up grid containers for display */
.grid-container {
    display: grid;
    grid-template-columns: auto auto 20%;
    column-gap: 20px;
  }
.grid-item-first{
    grid-column-start: 1;
    grid-column-end: 3;
}

/* adding padding and background color */
.benefits {
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Adding margings */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* aligning elements */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3{
    margin-bottom: 10px;
    text-align: center;
}

/* containing image */
.benefit-lead img, .benefit-brand img, .benefit-cost img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* customizing container displays  */
.search-engine-optimization {
    min-height: 300px;
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* setting max height for images */
.search-engine-optimization img {
    max-height: 200px;
}

/* adjusting font size */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer properties */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer h2 size */
.footer h2 {
    font-size: 20px;
}
